body{
    background: linear-gradient(to right, rgba(197, 25, 88, 0.8),rgba(112, 192, 37, 0.6));
    overflow: hidden;
    color: rgb(24, 40, 182);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
  }
